/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

/* Base/Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background: hsl(0, 0%, 96%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
}
