/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

/* Base/Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: hsl(0, 0%, 20%);
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background: hsl(0, 0%, 96%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
}

/* Text Styling */

.alt-text {
	font-size: 0.75rem;
}

.overlay-desc {
	font-size: 0.875rem;
	line-height: 1.25;
	letter-spacing: 0.5px;
	margin: 1.25rem 0 1.875rem;
}

/* Forgot Link */
.forgot-link {
	font-size: 0.875rem;
	margin: 1rem 0;
}
